{% load crispy_forms_tags %}
{% block content %}
{% load static %}

<div class="header-bar">
    <div>        
        <link rel="stylesheet" href="{% static 'css/home.css' %}">
        <link rel="stylesheet" href="{% static 'css/task.css' %}">
        <link rel="stylesheet" href="{% static 'css/sprint.css' %}">
    </div>
</div>

<body id="body-pd">
    <header class="header" id="header">
        <div class="header_toggle">
            <img class="bx bx-menu" id="header-toggle" width="40px" src="/static/images/burger-menu.jpg" alt="burger menu">
        <div class="header-logout">  
            <img class="exit-icon" src="/static/images/exit.png" alt="burger menu">
            {% if request.user.is_authenticated %}
                <a class="header-text" href="{% url 'user_logout' %}">Logout</a> 
            {% else %}
                <a class="header-text" href="{% url 'user_login' %}">Login</a> 
            {% endif %} 
            <div> </div>
        </div>
    </div>
    </header>
    
    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div>
                <a href="#" class="nav_logo">
                    <img class="bx bx-menu" id="header-toggle" width="30px" src="/static/images/app-icon.png" alt="burger menu">
                    <span class="nav_logo-name">Scrum Manager</span>
                </a>
                <div class="nav_list"> 
                    <a href="{% url 'tasks' %}" class="nav_link active">
                        <img width="35px" src="/static/images/task-icon.png" alt="burger menu">
                        <span class="nav_name">Task</span>
                    </a>
                    <a href="{% url 'sprints' %}" class="nav_link">
                        <img width="30px" src="/static/images/backlog-icon.png" alt="burger menu">
                        <span class="nav_name">Backlog</span>
                    </a>

                    <a href="#" class="nav_link">
                        <img width="30px" src="/static/images/board-icon.png" alt="burger menu">
                        <span class="nav_name">Board</span>
                    </a>  
                </div>
            </div>
        </nav>
    </div>

    <script src="{% static 'js/main.js' %}"></script>  
</body>

<h1 class="align-title"> BACKLOG</h1>  
    <div class="btn-add-task align-btn-create">
        <a class="btn" style="font-size: 1rem;" href="{% url 'sprint_form' %}"> CREATE SPRINT </a>
    </div>
    {% for sprint in sprints %}
        <div class="table-container">
            <table>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Start</th>
                    <th>Duration</th>
                    <th>End</th>
                    <th></th>
                </tr>
            
                    <tr>
                        <td>{{sprint.name}}</td>
                        <td>{{sprint.description}}</td>
                        <td>{{sprint.start}}</td>
                        <td>{{sprint.Duration}}</td>
                        <td>{{sprint.end}}</td>
                        <td>
                            <div style="margin: 22px 0px;">
                                <span><a href="{% url 'sprint_detail' sprint.pk %}"class="btn btn-style btn-detail">Detail</a> </span> 
                                <span><a href="{% url 'sprint_update' sprint.pk %}" class="btn btn-style btn-edit">Edit</a> </span> 
                                <span><a href="{% url 'sprint_delete' sprint.pk %}" class="btn btn-style btn-delete">Delete</a> </span> 
                            </div>
                        </td>
                    </tr>   
                    
            </table>      
            
        </div>
    {% endfor %}  
{% endblock content %}
